/* TYPOGRAPHY */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
h1 {
    font-family:'Droid Serif';
}
p, p.text, a, span, li, label {
    font-family: 'Droid Sans';
}

/* $HEADER */
#header {
    z-index: 1000;
    padding-top: 15px;
    position:fixed;
    width: 100%;
    left:0;
    margin-bottom: 30px;
    top: 0;
    height: 50px;
    
    text-align: center;
    /* Gradient stuff */
    background-image: linear-gradient(top, rgb(0,0,0) 22%, rgb(25,25,25) 61%);
    background-image: -o-linear-gradient(top, rgb(0,0,0) 22%, rgb(25,25,25) 61%);
    background-image: -moz-linear-gradient(top, rgb(0,0,0) 22%, rgb(25,25,25) 61%);
    background-image: -webkit-linear-gradient(top, rgb(0,0,0) 22%, rgb(25,25,25) 61%);
    background-image: -ms-linear-gradient(top, rgb(0,0,0) 22%, rgb(25,25,25) 61%);
    
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.22, rgb(0,0,0)),
        color-stop(0.61, rgb(25,25,25))
    );
    /* End gradient stuff */
}
#header > div {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
body {
    padding-top: 80px;
    background-color: #EEEEEE;
}

#header .span6:last-child * {
    text-align:right;
}
#header > div > div {
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
}
#header > div > div:last-child {
    text-align: right;
}
#header > div > div:last-child > a {
    margin-left: 10px;
    font-size: 18px;
    color: #FFFFFF;
    vertical-align: middle;
}

.login.modal .modal-footer > * {
    vertical-align: middle;
    margin-left: 10px;
}

/* $CHECKOUT */

.checkout.section {
    border-right:#686868 3px solid;
    border-bottom:#686868 3px solid;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
}
.checkout.section span.stepNumber {
    position:relative;
    display:inline-block;
    background-color:#0088CC;
    color: #FFFFFF;
    font-size: 22px;
    right: 25px;
    bottom: 10px;
    width: 25px;
    height: 20px;
    text-align: center;
    border-radius: 15px;
    padding-top: 4px;
    border:#484848 solid 1px;
}
.checkout.section h1.sectionHeader {
    line-height: 20px;
    font-size: 18px;
    border-bottom:#707070 1px solid;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-top: -15px;
}
.calendar.week table {
    table-layout:fixed;
}
.calendar.week thead tr td:first-child {
    width: 70px;
}
.calendar.week thead tr {
    background-color:#3E3E3E;
    overflow:hidden;
}
.calendar.week tbody tr td {
    padding-bottom: 20px;
    font-size: 12px;
    padding-top: 2px;
    padding-right: 5px;
}
.calendar.week thead tr td {
    color:#FFFFFF;
}
.calendar.week thead tr td {
    border-left: 0px transparent none;
    border-right: 0px transparent none;
}
.calendar.week tr td {
    text-align: center;
}
.calendar.week tr td:first-child {
    text-align:right;
    color:#595959;
}
