/* $HEADER */
#header {
    padding-top: 10px;
}
#header .span6:last-child * {
    text-align:right;
}

/* $CHECKOUT */

.checkout.section {
    background-color:#D9D9D9;
    border:#005580 3px solid;
    border-radius: 10px;
    overflow:hidden;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.checkout.section .header {
    background-color:#6DA2D0;
    padding: 5px 10px 5px 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 15px;
}
.checkout.section .header span {
    background-color: #FFFFFF;
    font-size: 20px;
    border-radius: 15px;
    width: 30px;
    height: 23px;
    display: inline-block;
    text-align:center;
    padding-top: 7px;
}
