<div>
	{{#attendees}}
		<div class="attendee"><div class="attendee-availability"></div><div>{{name}}</div><div class="dot"><i class="icon-comment icon-white pull-right"></i></div><br /></div>
	{{/attendees}}
</div>