<div id="{{_id}}">
	<widget id="{{_id}}-alert" type="alert">{"text":"This is an alert", "closeable":false, "hidden":true, "color":"red"}</widget>
	<widget id="{{_id}}-username" type="field">{"label":"Username", "labelType":"placeholder", "required":"true", "type":"email"}</widget>
	<widget id="{{_id}}-password" type="field">{"label":"Password", "labelType":"placeholder", "required":"true", "type":"password"}</widget>
	<widget id="{{_id}}-loginButton" type="button">{"title":"Login", "color":"blue"}</widget>
</div>