<div class="row video">
      <div class="span3">
      	<div class="row">
      		<div id="publisher"></div>
	      		<div class="row">
	      			<widget id="showMyVideoCheckbox" type="field">{"type":"boolean", "label":"Show My Video?"}</widget>
	      		</div>
      		</div>
      </div>
      <div class="span6">
      	<div id="subscriber">
      	</div>
      </div>
</div>
